h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button,
fieldset,
textarea,
input {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: $company-dark-grey;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}
.list {
  list-style: none;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // flex-wrap: wrap;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
.header {
  border-bottom: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 93px;
}
.second__header {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  // margin: 0 auto;
  margin-bottom: 50px;
}
.logo-company_color {
  color: $company-blue;
}
.section {
  padding-top: $section-padding-mobile;
  padding-bottom: $section-padding-mobile;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .section {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
  }
}
.section-no_space {
  padding-bottom: 0px;
}
