.main {
  &__section {
    text-align: center;
    background-image: $main-gradient, url(../../images/mobile-header.png);
    background-color: #2f303a66;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    min-width: 320px;
    // max-width: 1600px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px #00000040;
    & .container {
      flex-direction: column;
      margin-top: calc(200px - 84px - $section-padding-mobile);
      // margin-bottom: calc(200px - $section-padding-mobile);
    }
  }
  &__header {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 365px;
    height: 84px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #ffffff;
    text-align: center;
  }
  &__button {
    background-color: $company-blue;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px 0px #00000026;
  }
}
@media screen and (min-width: 768px) {
  .main {
    &__section {
      background-image: $main-gradient, url(../../images/tablet-header.jpg);
      background-size: cover;
      background-color: #2f303a66;
      background-position: center;
      background-repeat: no-repeat;
      height: 400px;
    }
    &__header {
      font-size: 26px;
      width: 365px;
      height: 84px;
      margin: 0 auto;
      margin-bottom: 30px;
      color: #ffffff;
      text-align: center;
    }
  }
}
@media screen and (min-width: 1200px) {
  .main {
    &__section {
      background-image: $main-gradient,
        url(../../images/background-header-x1.jpg);
      height: 600px;
    }
    &__header {
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      width: 696px;
      height: 120px;
    }
  }
}
