.main {
  &__section {
    text-align: center;
    background-image: $main-gradient, url("../images/background-header.jpg");
    background-color: #2f303a66;
    background-size: 1600px;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    max-width: 1600px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px #00000040;
    & .container {
      flex-direction: column;
      margin-top: calc(200px - $section-padding);
      margin-bottom: calc(200px - $section-padding);
    }
  }
  &__header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 694px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 30px;
    color: #ffffff;
    text-align: center;
  }
  &__button {
    background-color: $company-blue;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px 0px #00000026;
  }
}
