.navigation {
  display: flex;
  align-items: center;
  &__menu {
    display: flex;
    & li:nth-child(2) {
      margin: 0 48px;
    }
  }
  &__link {
    color: inherit;
    text-decoration: none;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $company-blue;
    }
  }
  &__link-active {
    color: $company-blue;
    &::after {
      content: "";
      display: block;
      transform: translateY(27px);
      width: 100%;
      height: 4px;
      background-color: $company-blue;
      border-radius: 2px;
    }
  }
  &__logo {
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    margin-right: 93px;
    padding: 24px 0;
  }
}
