.portfolio {
  & .container {
    flex-direction: column;
  }

  &__list {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__button {
    background-color: #f5f4fa;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border: 0;
    text-align: center;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    padding: 6px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &__list {
      display: inline-flex;
      gap: 8px;
      margin-bottom: 50px;
    }
    &:hover,
    &:focus {
      background-color: $company-blue;
      color: #ffffff;
      box-shadow: 0px 2px 2px 0px #0000001f;
      box-shadow: 0px 1px 2px 0px #00000014;
      box-shadow: 0px 3px 1px 0px #0000001a;
    }
  }

  &__list_link {
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:hover .overlay,
    &:focus .overlay {
      transform: translateY(0);
    }
  }
  &__border {
    border: 1px solid #eeeeee;
    border-top: 0px;
    background-color: #ffffff;
    z-index: 1;
  }
  &__company {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-top: 20px;
    padding-left: 24px;
  }
  &__branch {
    color: $light-grey;
    font-size: 16px;
    line-height: 1.87;
    padding-bottom: 20px;
    padding-left: 24px;
  }
}
.overlay {
  position: absolute;
  top: -1;
  left: -1;
  background-color: #2196f3e5;
  width: 100%;
  height: 294px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay > p {
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  font-size: 18px;
  color: #ffffff;
  margin: 49px 45px 49px 24px;
}
