.team {
  background-color: #f5f4fa;
  &__list {
    display: flex;
    margin: 0 auto;
    gap: 30px;
  }
  &__iteam {
    width: 270px;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
      0px 1px 3px 0px #0000001f;
    & img {
      width: 270px;
      height: 260px;
    }
  }
  &__description {
    text-align: center;
    justify-content: center;
    padding: 30px 0;
    & ul {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 16px;
    }
  }
  &__position {
    color: $light-grey;
    font-weight: 400;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    &__list {
      flex-wrap: wrap;
    }
    &__iteam {
      width: 354px;
      & img {
        width: 354px;
        height: 374px;
      }
    }
  }
}
