$company-blue: #2196f3;
$company-dark-grey: #212121;
$light-grey: #757575;
$icon-color: #afb1b8;
$section-bg-color: #2f303a;
$section-padding: 94px;
$main-gradient: linear-gradient(
  to bottom,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
);
